body {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    height: 90vh;
}

input, button, textarea {
    font-size: 1em;
}

input {
    border: 2px solid #ccc; /* Set border width and color */
    border-radius: 40px; /* Round the corners */
    padding: 10px; /* Add padding inside the textarea */
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); /* Add a shadow */
}

textarea {
    width: 100%;
    height: 100%;
    border: 2px solid #ccc; /* Set border width and color */
    border-radius: 40px; /* Round the corners */
    padding: 10px; /* Add padding inside the textarea */
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); /* Add a shadow */
}

.textareagrow {
    flex-grow: 1;
    margin-bottom: 5vh;
}

.form-group {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    flex-grow: 1;
}

.form-label {
    padding-left: 0.25em;
}
